@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1025px) {
  .container {
    width: auto;
    margin: 8vh 4vw;
    position: relative;
    /* height: auto; */
  }
  #num_pages {
    margin-left: 9rem; /*revisar*/
  }
  .watchlist_btn {
    right: 5rem;
  }
}
@media only screen and (max-width: 800px) {
  .preview__upper {
    padding: 0 1rem;
  }
  #bar::-webkit-progress-bar {
    width: 22vw;
  }
  #bar2::-webkit-progress-bar {
    width: 22vw;
  }
  .team_formation0,
  .team_formation1,
  .team_lineup li {
    width: 27vw;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    grid-template-columns: 1fr;
  }

  .header__logo {
    height: 3.5rem;
    margin-left: 2rem;
  }

  .search__field {
    width: 15rem;
    font-size: 1rem;
  }

  .search__btn {
    width: 10rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav {
    margin-right: 0;
  }

  .search__btn span {
    font-size: 1.1rem;
  }

  .search-results {
    display: none;
    position: absolute;
    top: 10rem;
    transition: all 0.5s;
    width: 100%;
    height: auto;
  }

  .matches {
    width: auto;
    height: auto;
  }

  .watchlist_btn {
    right: 1rem;
  }
  .preview__upper {
    padding: 1.5rem;
  }
  #bar::-webkit-progress-bar {
    width: 30vw;
    height: 4px;
  }
  #bar2::-webkit-progress-bar {
    width: 30vw;
    height: 4px;
  }
  .stat label,
  p {
    font-size: 11.5px;
  }
  .team_formation0,
  .team_formation1,
  .team_lineup li {
    width: 43vw;
  }
  #team_formation {
    font-size: 9px !important;
    padding-left: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .nav__btn span {
    display: none;
  }
  .btn--round {
    height: 3.9rem;
    width: 3.9rem;
  }
  .btn--round svg {
    height: 2rem;
    width: 2rem;
  }
  .preview__fig2 {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .search__field {
    width: 12rem;
  }
  .search__btn {
    width: 8rem;
    height: 3.8rem;
  }

  .match_score {
    font-size: large !important;
  }
}
